<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="../../javascripts/script.js" defer></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <main>
            <h2>
                <%= category.name %>
            </h2>
            <p>Are you sure you want to delete this category?</p>
            <% if(errors) {%>
                <div class="form-errors">
                    <ul>
                        <% errors.forEach((error)=>{ %>
                            <li>
                                <%= error %>
                            </li>
                            <%}) %>
                    </ul>
                </div>
                <% } %>
                    <form action="" method="POST">
                        <label for="pass">Master Password:</label>
                        <input type="password" name="pass" id="pass" required>
                        <button type="submit" class="update-link">Delete</button>
                    </form>
                    <% if(products.length> 0) { %>
                        <h2 class="alert">You have to delete this items before deleting this category.</h2>
                        <div class="container">
                            <% products.forEach(function(item) { %>
                                <div class="card">
                                    <a href=<%=item.url %>><img class="card-img" src=<%=item.image %> alt=<%=item.title
                                            %>></a>
                                    <p>
                                        <%= item.title %>
                                    </p>
                                    <p>
                                        <%= item.description %>
                                    </p>
                                    <p class="count">Count: <%= item.inStock %>
                                    </p>
                                    <p class="price">Price: <%= item.price %>
                                    </p>
                                </div>
                                <% }); %>
                        </div>
                        <% } %>
        </main>

</body>

</html>