<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="../javascripts/script.js" defer></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <main>
            <div class="margin-bottom">
                <h2>
                    Delete: <%= product.title %>
                </h2>
                <div>
                    <form action="" method="POST">
                        <label for="pass">Master Password:</label>
                        <input type="password" name="pass" id="pass" required>
                        <button type="submit" class="update-link">Delete</button>
                    </form>
                </div>
            </div>
            <div class="flex-around">
                <img src=<%=product.image%> alt=<%= product.title %> class="card-img">
                    <div>
                        <p class="para-50">
                            <%= product.description %>
                        </p>
                        <p class="price">Price: <%= product.price %>
                        </p>
                        <p class="count">In Stock <%= product.inStock %>
                        </p>
                        <p class="category">Category: <%= product.category.name %>
                        </p>
                    </div>
            </div>
        </main>
</body>

</html>